ClienteCompraElectronica/src/META-INF/wsdl/compraElectronicaCancelacion.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.rbm.com.co/esb/comercio/compra/" xmlns:cmp="http://www.rbm.com.co/esb/comercio/compra/">
    <xsd:include schemaLocation="compra.xsd"/>
    <xsd:element name="compraCancelacionProcesarSolicitud" type="cmp:TipoSolicitudCancelacion">
  </xsd:element>
    <xsd:element name="compraCancelacionProcesarRespuesta" type="cmp:TipoRespuesta">
  </xsd:element>
    <xsd:element name="compraCancelacionReversarSolicitud" type="cmp:TipoSolicitudCancelacion">
  </xsd:element>
    <xsd:element name="compraCancelacionReversarRespuesta" type="cmp:TipoRespuesta">
  </xsd:element>
</xsd:schema>