ClienteMultiCompraElectronica/src/META-INF/wsdl/redebanESB.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.rbm.com.co/esb/" xmlns:rbm="http://www.rbm.com.co/esb/">
<xsd:simpleType name="TipoTipoCuenta">
    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Ahorros"/>
            <xsd:enumeration value="Corriente"/>
            <xsd:enumeration value="CreditoRotativo"/>
            <xsd:enumeration value="Credito"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoNumTarjeta">
	        	<xsd:restriction base="xsd:string">
            <xsd:maxLength value="19"/>

            <xsd:pattern value="[0-9]*"/>
        </xsd:restriction>
	        </xsd:simpleType>
    <xsd:simpleType name="TipoNumCuenta">
    <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]*"/>
            <xsd:maxLength value="19"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoTipoDocumento">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CC"/>
      <xsd:enumeration value="TI"/>
      <xsd:enumeration value="CE"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoNumDocumento">
    <xsd:restriction base="xsd:long">
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoTipoImpuesto">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="IVA"/>
      <xsd:enumeration value="Consumo"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoTipoMontoDetallado">
    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MontoAdicional"/>
            <xsd:enumeration value="Descuento"/>
            <xsd:enumeration value="BaseDevolucionIVA"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoTipoBolsillo">
    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Lealtad"/>
            <xsd:enumeration value="CuotaMonetaria"/>
            <xsd:enumeration value="CupoCredito"/>
            <xsd:enumeration value="BonoEfectivo"/>
            <xsd:enumeration value="CreditoRotativoBolsillo"/>
            <xsd:enumeration value="BonoRegalo"/>
            <xsd:enumeration value="BonoDescuento"/>
            <xsd:enumeration value="BolsilloCredito"/>
            <xsd:enumeration value="BolsilloDebito"/>
            <xsd:enumeration value="Ahorros"/>
            <xsd:enumeration value="Corriente"/>
            <xsd:enumeration value="Credito"/>
            <xsd:enumeration value="Desconocida"/>
            <xsd:enumeration value="CreditoRotativo"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoCodVerficacion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
      <xsd:pattern value="[0-9]*"/>

    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoCodBanco">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
      <xsd:pattern value="[0-9]*"/>

    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoCodSeguridadEMV">
    <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]*"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoDataEMV">
    <xsd:restriction base="xsd:hexBinary">
      <xsd:maxLength value="512"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoClave">
    <xsd:restriction base="xsd:hexBinary">
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoFormatoClave">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoMonto">
    <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoCodRespuesta">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
      <xsd:pattern value="[0-9]*"/>

    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoDescripcion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoEstado">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoTipoInfo">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoNumAprobacion">
    <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoIdTransaccionAutorizador">
    <xsd:restriction base="xsd:long">
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoCodConvenio">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
      <xsd:pattern value="[0-9]*"/>

    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoNumReferenciaPago">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoNumAutorizacion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
      <xsd:pattern value="[0-9]*"/>

    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoFranquicia">
    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MasterCard"/>
            <xsd:enumeration value="VISA"/>
            <xsd:enumeration value="AmEx"/>
            <xsd:enumeration value="DinersClub"/>
            <xsd:enumeration value="UnionPay"/>
			<xsd:enumeration value="CMRFalabella"/>
			<xsd:enumeration value="JCB"/>
			<xsd:enumeration value="Codensa"/>
			<xsd:enumeration value="sociosbbva"/>
        </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoTrack">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="37"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="TipoFIIDEntidad">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:complexType name="TipoIdPersona">
    <xsd:sequence minOccurs="1">
      <xsd:element name="tipoDocumento" type="rbm:TipoTipoDocumento"/>
      <xsd:element name="numDocumento" type="rbm:TipoNumDocumento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoIdTarjetaDebitoPrivada">
    <xsd:sequence>
            <xsd:element name="franquicia" type="xsd:string"/>
            <xsd:element name="numTarjeta" type="rbm:TipoNumTarjeta"/>
      <xsd:element name="tipoBolsillo" type="rbm:TipoTipoBolsillo"/>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoIdTarjetaCreditoPrivada">
    <xsd:sequence>
            <xsd:element name="franquicia" type="xsd:string"/>
            <xsd:element name="numTarjeta" type="rbm:TipoNumTarjeta"/>
      <xsd:element name="tipoBolsillo" type="rbm:TipoTipoBolsillo"/>
        <xsd:element minOccurs="0" name="codVerificacion" type="rbm:TipoCodVerficacion"/>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoIdTarjetaCredito">
    <xsd:sequence>
            <xsd:element name="franquicia" type="xsd:string"/>
            <xsd:element name="numTarjeta" type="rbm:TipoNumTarjeta"/>
      <xsd:element minOccurs="0" name="fechaExpiracion" type="xsd:date"/>
        <xsd:element minOccurs="0" name="codVerificacion" type="rbm:TipoCodVerficacion"/>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoInfoCHIP">
    <xsd:sequence>
      <xsd:element name="codSeguridadEMV" type="rbm:TipoCodSeguridadEMV"/>
      <xsd:element name="dataEMV" type="rbm:TipoDataEMV"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoIdCuenta">
    <xsd:sequence>
      <xsd:element name="tipoCuenta" type="rbm:TipoTipoCuenta"/>
      <xsd:element name="numCuenta" type="rbm:TipoNumCuenta"/>
        <xsd:element name="codBanco" type="rbm:TipoCodBanco"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoInfoAutenticacion">
    <xsd:sequence>
      <xsd:element name="clave" type="rbm:TipoClave"/>
      <xsd:element name="formatoClave" type="rbm:TipoFormatoClave"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoInfoImpuestos">
    <xsd:sequence>
      <xsd:element name="tipoImpuesto" type="rbm:TipoTipoImpuesto"/>
      <xsd:element name="monto" type="rbm:TipoMonto"/>
      <xsd:element minOccurs="0" name="baseImpuesto" type="rbm:TipoMonto"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="TipoMontoDetallado">
    <xsd:sequence>
      <xsd:element name="tipoMontoDetallado" type="rbm:TipoTipoMontoDetallado"/>
      <xsd:element name="monto" type="rbm:TipoMonto"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoInfoRespuesta">
    <xsd:sequence>
      <xsd:element name="codRespuesta" type="rbm:TipoCodRespuesta"/>
      <xsd:element name="descRespuesta" type="rbm:TipoDescripcion"/>
      <xsd:element name="estado" type="rbm:TipoEstado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoInfoAdicional">
    <xsd:sequence>
      <xsd:element name="tipoInfo" type="rbm:TipoTipoInfo"/>
      <xsd:element name="descripcion" type="rbm:TipoDescripcion"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoInfoRefCancelacion">
    <xsd:sequence>
      <xsd:element name="numAprobacion" type="rbm:TipoNumAprobacion"/>
      <xsd:element name="idTransaccionAutorizador" type="rbm:TipoIdTransaccionAutorizador"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoInfoPago">
    <xsd:sequence>
            <xsd:element name="FIIDEntidadAdquiriente" type="rbm:TipoFIIDEntidad"/>
            <xsd:element name="numAutorizacion" type="rbm:TipoNumAutorizacion"/>
            <xsd:element name="codConvenioRecaudo" type="rbm:TipoCodConvenio"/>
      <xsd:element name="numReferenciaPago" type="rbm:TipoNumReferenciaPago"/>
      <xsd:element name="monto" type="rbm:TipoMonto"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TipoIdTrack">
    <xsd:sequence>
      <xsd:element name="track" type="rbm:TipoTrack"/>
      <xsd:element name="tipoCuenta" type="rbm:TipoTipoBolsillo"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="TipoInfoUbicacion">
    <xsd:sequence>
      <xsd:element name="ciudad" type="xsd:string"/>
      <xsd:element name="departamento" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>